@font-face {
  font-family: "DMSans-Regular";
  src: url("../../fonts/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("../../fonts/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSans-Bold";
  src: url("../../fonts/DMSans-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "DMSans-Regular";
}

a {
  outline: none;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  user-select: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DMSans-Bold";
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.btn {
  background-color: #086cf9;
  color: #fff !important;
  padding: 12px 16px;
  border-radius: 5px;
  font-family: "DMSans-Regular";
  font-size: 1.1rem;
  transition: background 0.3s linear;
}

.btn:hover {
  background-color: #458df3;
}

button.btn:active {
  transform: translateY(1px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.54) 100%, rgba(0, 0, 0, 0.54) 100%);
}

.section__title {
  font-size: 2.4rem;
  text-align: center;
  text-transform: capitalize;
  color: #222;
}

.section__subtitle {
  text-align: center;
  margin-bottom: 2rem;
  width: 50%;
  color: #555;
}

.navbar .container {
  height: 11vh;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: #222;
}
.navbar__logo a {
  font-size: 1.6rem;
  font-family: "DMSans-Bold";
}
.navbar__links {
  display: flex;
}
.navbar__link {
  font-size: 1rem;
}
.navbar__link:not(:first-child) {
  margin-left: 1.5rem;
}
.navbar__link.active > * {
  color: #086cf9;
}

.header {
  background-image: url("../../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header .container {
  height: 89vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}
.header__title {
  font-size: calc(2.8vw + 1rem);
  text-transform: capitalize;
  text-align: center;
}
.header__text {
  font-size: 1rem;
  text-align: center;
  width: 90%;
  margin: 1rem 0;
}
.header__bottom {
  width: 100%;
  padding: 0.8rem;
  color: #222;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  position: absolute;
  top: 90%;
  border-radius: 4px;
  box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.08);
}
.header__bottom-item {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.header__bottom-icon, .header__bottom-info {
  margin: 5px;
}
.header__bottom-icon {
  position: relative;
  width: 60px;
  height: 55px;
}
.header__bottom-icon img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.header__bottom-info h5 {
  font-size: 1.5rem;
}
.header__bottom-info small {
  color: #086cf9;
  font-size: 0.9rem;
}

.about .container {
  padding: 100px 15px 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__content, .about__video {
  max-width: calc(50% - 10px);
  width: 100%;
}
.about__title {
  font-size: calc(1.9vw + 1rem);
  line-height: 1;
  color: #222;
}
.about__text small {
  display: block;
  font-size: 0.95rem;
  margin: 1rem 0;
}
.about__text p {
  font-size: 1.1rem;
}
.about__text small, .about__text p {
  margin: 1rem 0;
}
.about__text .btn {
  display: inline-block;
}
.about__video {
  height: 400px;
}
.about__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .container {
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
}
.services__items {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
}
.services__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.services__item-icon {
  width: 100px;
  height: 100px;
  position: relative;
}
.services__item-icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services__item-title, .services__item-text {
  text-align: center;
}
.services__item-title {
  text-transform: capitalize;
  margin: 0.5rem 0;
  color: #222;
}
.services__item-text {
  font-size: 14px;
  color: #555;
}

.courses {
  background: #ecf4ff;
}
.courses .container {
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
}
.courses__list {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
}
.courses__item {
  padding: 1rem;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
}
.courses__item-img {
  width: 100%;
  height: 180px;
  position: relative;
}
.courses__item-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.courses__item-info {
  padding: 1.3rem 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  border-bottom: 0.5px solid #e9e8e8;
}
.courses__item-users, .courses__item-views, .courses__item-rating {
  display: flex;
  align-items: center;
}
.courses__item-icon, .courses__item-logo {
  width: 32px;
  height: 32px;
}
.courses__item-icon {
  border: 0.6px solid #c8c8c8;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #086cf9;
}
.courses__item-value {
  margin-left: 8px;
  color: #555;
}
.courses__item-logo {
  position: relative;
}
.courses__item-logo img {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.courses__item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.courses__item-title {
  text-transform: capitalize;
  color: #333;
}
.courses__item-price {
  color: #086cf9;
}
.courses__item-subtitle {
  margin-bottom: 1rem;
  color: #555;
}
.courses .btn {
  margin-top: 2rem;
  font-size: 1rem;
}

.mentors .container {
  padding: 50px 15px;
  flex-direction: column;
  align-items: center;
}
.mentors__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mentors__item {
  box-shadow: 0px 11px 55px 0px rgba(0, 0, 0, 0.078);
  border-radius: 6px;
  width: 320px;
  margin: 1rem;
}
.mentors__img {
  width: inherit;
  height: 270px;
  position: relative;
}
.mentors__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}
.mentors__name {
  color: #222;
  text-transform: capitalize;
  padding: 1rem 1rem 0.5rem;
}
.mentors__job {
  padding: 0 1rem 0.5rem;
  color: #555;
}
.mentors__info {
  padding: 0.5rem 1rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: #555;
}
.mentors__info-users, .mentors__info-rating {
  display: flex;
  align-items: center;
}
.mentors__info-users {
  margin-right: 1rem;
}
.mentors__info-value {
  margin-left: 8px;
}
.mentors__info-courses {
  flex: 1;
  text-align: right;
}
.mentors__info-icon.fa-star {
  color: #086cf9;
}

.event .container {
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
}
.event__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.event__item {
  width: 320px;
  margin: 1rem;
  box-shadow: 0px 12px 45px 0px rgba(0, 0, 0, 0.078);
  border-radius: 6px;
  overflow: hidden;
}
.event__img {
  width: 100%;
  height: 220px;
  position: relative;
}
.event__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event__badge {
  position: absolute;
  z-index: 10;
  background-color: #086cf9;
  color: #fff;
  padding: 0.5rem 0.8rem;
  text-align: center;
}
.event__badge h3 {
  text-transform: capitalize;
  font-family: "DMSans-Medium";
}
.event__title {
  padding: 1.2rem 1.2rem 0.6rem;
  color: #222;
  font-family: "DMSans-Medium";
}
.event__subtitle {
  padding: 0.6rem 1.2rem 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  font-size: 14px;
}

.counter {
  background-color: #D3E5FE;
}
.counter .container {
  padding: 50px 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.counter .container > div {
  margin: 0.5rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter .container > div h2 {
  margin-bottom: 0.5rem;
}

.blog .container {
  padding: 50px 15px;
  flex-direction: column;
  align-items: center;
}
.blog__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blog__item {
  width: 320px;
  margin: 1rem;
}
.blog__img {
  width: 100%;
  height: 220px;
  position: relative;
}
.blog__img img {
  border-radius: 4px 4px 0 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__content {
  background-color: #fff;
  padding: 1rem;
  border: 0.5px solid #BFBFBF;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
.blog__title, .blog__subtitle {
  margin-bottom: 1rem;
}
.blog__link {
  color: #086cf9;
}
.blog .btn {
  margin-top: 2rem;
  padding: 15px 24px;
  font-size: 1rem;
}

.testimonials .container {
  padding: 50px 15px;
  flex-direction: column;
  align-items: center;
}
.testimonials .splide {
  width: 100%;
}
.testimonials .splide__track {
  margin: auto;
  width: 92%;
}
.testimonials .splide__slide {
  width: 315px !important;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.078);
}
.testimonials .splide__pagination {
  display: none;
}
.testimonials .splide__arrow {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #D5D4D4;
  transition: background 0.3s linear;
}
.testimonials .splide__arrow svg {
  fill: #D5D4D4;
  font-size: 1rem;
}
.testimonials .splide__arrow:hover {
  background-color: #086cf9;
  border-color: #086cf9;
}
.testimonials__txt {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #555;
}
.testimonials__about {
  display: flex;
}
.testimonials__logo {
  width: 60px;
  height: 60px;
  position: relative;
  margin-right: 1rem;
}
.testimonials__logo img {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials__name h4 {
  margin-bottom: 6px;
  color: #222;
}
.testimonials__name small {
  color: #555;
}
.testimonials__btns-icon {
  color: #D5D4D4;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
