@use "../base/base" as base;

.about {
	.container {
		padding: 100px 15px 50px;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__content,
	&__video {
		max-width: calc(50% - 10px);
		width: 100%;
	}

	&__title {
		font-size: calc(1.9vw + 1rem);
		line-height: 1;
		color: base.$text-color1;
	}

	&__text {
		p {
			font-size: 1rem;
			margin: 1rem 0;
		}

		.btn {
			display: inline-block;
		}
	}

	&__video {
		height: 360px;
		position: relative;

		iframe {
			width: 100%;
			height: 100%;
			border-radius: 6px;
			border: none;
			object-fit: cover;
			cursor: pointer;
			aspect-ratio: 16 / 9;
		}
	}
}