@use "../base/base.scss";

.event {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 50px 15px;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 320px;
        margin: 1rem;
        box-shadow: 0px 12px 45px 0px rgba(0, 0, 0, 0.078);
        border-radius: 6px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 220px;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__badge {
        position: absolute;
        z-index: 5;
        background-color: base.$primary-color;
        color: #fff;
        padding: .5rem .8rem;
        text-align: center;

        h3 {
            text-transform: capitalize;
            font-family: base.$font-medium;
        }
    }

    &__title {
        padding: 1.2rem 1.2rem .6rem;
        color: base.$text-color1;
        font-family: base.$font-medium;
    }

    &__subtitle {
        padding: .6rem 1.2rem 1.2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: base.$text-color3;
        font-size: 14px;
    }
}