@use "../base/base.scss";

.footer {
    background-color: #D3E5FE;

    .container {
        padding: 50px 15px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        & > div {
            width: 250px;
            margin: 1rem;
        }
    }

    &__title {
        color: base.$text-color1;
        margin-bottom: 1rem;
    }
    
    &__subtitle {
        color: base.$text-color3;
        font-size: .9rem;
        margin-bottom: 1rem;
    }

    &__social {
        display: flex;

        &-link {
            width: 2rem;
            height: 2rem;
            border-radius: 4px;
            background-color: #fff;
            display: grid;
            place-items: center;

            &:not(:last-child) {
                margin-right: .5rem;
            }

            a {
                font-size: 1rem;
                color: base.$primary-color;
            }
        }
    }

    &__item {
        margin: .5rem 0;
        color: base.$text-color3;
        
        a {
            color: inherit;
            transition: .3s linear;

            i {
                margin-right: 5px;
                color: base.$primary-color;
            }

            &:hover {
                margin-left: .5rem;
            }
        }

    }
}