@use "../base/base.scss";

.subscribe {
    .container {
        padding: 50px 15px;
        align-items: center;
        flex-direction: column;
    }

    &__box {
        width: 90%;
        background-color: base.$primary-color;
        border-radius: 6px;
        padding: 2rem;
    }

    .section__title, .section__subtitle {
        color: #FCFCFC;
    }

    .section__subtitle {
        margin: auto;
        padding: 1rem 1.5rem;
    }

    &__form {
        border-radius: 4px;
        width: 50%;
        padding: .5rem;
        background-color: #fff;
        margin: auto;
        display: flex;

        &-input {
            flex: 1;
            padding: 12px 16px;
            color: base.$text-color3;
            font-size: 1.1rem;
            background-color: transparent;
        }
    }
}