@use "../base/base.scss";

.blog {
    .container {
        padding: 50px 15px;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 320px;
        margin: 1rem;
    }
    
    &__img {
        width: 100%;
        height: 220px;
        position: relative;
        
        img {
            border-radius: 4px 4px 0 0;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__content {
        background-color: #fff;
        padding: 1rem;
        border: 0.5px solid #BFBFBF;
        border-top: 0;
        border-radius: 0 0 4px 4px;
    }

    &__title, &__subtitle {
        margin-bottom: 1rem;
    }

    &__link {
        color: base.$primary-color;
    }

    .btn {
        margin-top: 2rem;
        padding: 15px 24px;
        font-size: 1rem;
    }
}