@use "../base/base.scss";

.mentors {
    .container {
        padding: 50px 15px;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        box-shadow: 0px 11px 55px 0px rgba(0, 0, 0, 0.078);
        border-radius: 6px;
        width: 320px;
        margin: 1rem;
    }

    &__img {
        width: inherit;
        height: 270px;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px 6px 0 0;
        }
    }

    &__name {
        color: base.$text-color1;
        text-transform: capitalize;
        padding: 1rem 1rem .5rem;
    }
    
    &__job {
        padding: 0 1rem .5rem;
        color: base.$text-color3;
    }

    &__info {
        padding: .5rem 1rem 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        color: base.$text-color3;

        &-users, &-rating {
            display: flex;
            align-items: center;
        }

        &-users {
            margin-right: 1rem;
        }

        &-value {
            margin-left: 8px;
        }

        &-courses {
            flex: 1;
            text-align: right;
        }

        &-icon.fa-star {
            color: base.$primary-color;
        }
    }
}