// ===== variables ===== //
$primary-color: #086cf9;
$text-color1: #222;
$text-color2: #333;
$text-color3: #555;
$font-regular: "DMSans-Regular";
$font-medium: "DMSans-Medium";
$font-bold: "DMSans-Bold";

// ===== fonts ===== //
@font-face {
    font-family: $font-regular;
    src: url("../fonts/DMSans-Regular.ttf");
}

@font-face {
    font-family: $font-medium;
    src: url("../fonts/DMSans-Medium.ttf");
}

@font-face {
    font-family: $font-bold;
    src: url("../fonts/DMSans-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: $font-regular;
}

a {
    outline: none;
    text-decoration: none;
}

button, input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #fff inset;
}

img {
    user-select: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-bold;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.btn {
    background-color: $primary-color;
    color: #fff !important;
    padding: 12px 16px;
    border-radius: 5px;
    font-family: $font-regular;
    font-size: 1.1rem;
    transition: background .3s linear;
}

.btn:hover {
    background-color: #458df3;
}

button.btn:active {
    transform: translateY(1px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.54) 100%, rgba(0, 0, 0, 0.54) 100%);
}

.section__title {
    font-size: 2.4rem;
    text-align: center;
    text-transform: capitalize;
    color: $text-color1;
}

.section__subtitle {
    text-align: center;
    margin-bottom: 2rem;
    width: 50%;
    color: $text-color3;
}